.Header {
    background-color:var(--primary-color);
    position: relative;
}

.HeaderTitleHolder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.HeaderTitles{
    display: flex;
    align-items: center;
    gap: 13px;
}

.HeaderIcon{
    width: 25px;
    height: 25px;
}



.HeaderTitle{
    color:var(--white-color);
    font-size: 24px;
    font-weight: bold;
}




